/* PRIMARY ELEMENTS */
#main {
    background-color: #99cccc;
    padding: 40px;
    max-width: 540px;
}
#cdc-heading {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

/* SLIDER */
.slidercontainer {
    text-align: center;
}

.slidercontainer input {
    float: none;
    margin: 20px auto;
}

/* CONTROLS */
#cs-controls {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

/* PARTICLE SYSTEM CONTAINER */
#particle-system-container {
    position: relative;
    background-color: #99ccff;
    min-width: 400px;
    min-height: 200px;
}

#floating-card {
    position: absolute;
    top: 50px;
    left: 110px;
}
#calculated-temp-text,
#calculated-temp {
    color: #990033;
    text-align: center;
}

#calculated-temp {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}